/* general */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'font', sans-serif;
}

.flex {
  display: flex;
}

body {
  min-width: 1200px;
}

section {
  /* outline: 1px solid red; */
}

/* section:nth-child(2n) {
  background-color: rgb(236, 197, 197);
} */

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  min-height: inherit;
  /* outline: 1px solid red; */
}

.divader-section {
  width: 650px;
  height: 8px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgb(56, 103, 71);
}

.section-offset {
  padding-top: 30px;
  padding-bottom: 30px;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-descr {
  margin: 0;
}

.reset-title {
  margin: 0;
  font-size: 40px;
}

/* header */

.header {
  min-height: 540px;

}

.flex-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-title-block {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  /* background-color: rgba(55, 99, 61, 0.5); */
}

.header-title {
  margin: 0;
  font-weight: 300;
  font-size: 80px;
  line-height: 130%;
  color: rgb(18, 16, 16);
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.header-time {
  margin: 0;
  font-weight: 300;
  font-size: 30px;
  line-height: 130%;
  color: rgb(236, 159, 15);
  margin-bottom: 20px;

}

.header-invite {
  margin: 0;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
  color: rgb(18, 16, 16);
}

/* promo */

.promo {
  min-height: 640px;
  background-color: rgb(158, 104, 104);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.promo-bg {
  background-image: url(../img/rings-promo.jpg);
}

/* invite */

.invite {
  min-height: 840px;
  /* background-color: rgb(76, 78, 204); */

}

.flex-invite {
  display: flex;
  align-items: center;
}

.invate-block {
  min-height: 600px;
  /* min-width: 500px; */
  width: 100%;
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: space-between;
}

.invite-bg {
  min-width: 450px;
  background-image: url(../img/invite.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 120px
}

.invite-descr {
  padding: 70px 10px 10px;
}

.invite-title {
  padding-left: 50px;
  margin-bottom: 20px;
}

.invite-text {
  margin-bottom: 40px;
  max-width: 659px;
  font-size: 30px;
  font-weight: 400;
  line-height: 150%;

}


.invite-date {
  color: rgb(236, 159, 15);
  text-transform: uppercase;
  font-style: italic
}

.invite-signature {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic
}

/* style */

.style {
  min-height: 540px;
  padding-top: 50px;
  /* background-color: rgba(195, 202, 195, 0.5); */
}


.style-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.style-block {
  position: relative;
  min-height: inherit;
  align-items: center;
  justify-content: center;

}

.style-bg {
  position: absolute;
  left: 2px;
  min-width: 707px;
  min-height: 100%;
  background-image: url(../img/style.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 87px;
  z-index: 1;
}

.style-bg-tone {
  position: absolute;
  min-width: inherit;
  min-height: inherit;
  border-radius: inherit;
  background-color: rgba(195, 202, 195, 0.3);
  /* z-index: 2; */
}

.style-decr {
  max-width: 720px;
  padding: 40px 52px;
  margin-right: 20px;
  font-size: 30px;
  color: #fff;
  z-index: 10;

}

.style-color-list {
  width: 300px;
  min-height: 400px;
  align-items: center;
  flex-wrap: wrap;
}

.color-item {
  width: 125px;
  height: 125px;
  background-color: rgb(167, 158, 158);
  border-radius: 100%;
  border: 1px solid #000000;
  margin-bottom: 20px;
}

.color-item:not(:nth-child(2n)) {
  margin-right: 10px;
}

.color-item-1 {
  background-color: #274E13;
}

.color-item-2 {
  background-color: #B6D7A8;
}

.color-item-3 {
  background-color: #AA6016;
}

.color-item-4 {
  background-color: #83691A;
}

.color-item-5 {
  background-color: #F7D6B4;
}

.color-item-6 {
  background-color: #F5DB8C;
}

.color-item-7 {
  background-color: #FFF2CC;
}

.color-item-8 {
  background-color: #F8ECDC;
}



/* location */

.location {
  position: relative;
  min-height: 640px;
  padding: 0;
  /* padding-bottom: 100px; */
  /* background-color: rgb(137, 199, 94); */
}

.location-bg {
  position: relative;
  background-image: url(../img/location-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.location-bg-tone {
  /* position: absolute; */
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.divader-location {
  background-color: #fff;
  height: 10px;
  margin-bottom: 100px;
}

.location-block {
  min-height: inherit;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.location-descr-block {
  /* margin-bottom: 174px; */
}

.location-descr {
  color: #fff;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.location-time {
  color: rgb(236, 159, 15);
  background-color: rgba(0, 0, 0, 0.3);

}

.location-subtext {
  width: 100%;
  font-size: 20px;
  color: #fff;
  text-align: center;

}


/* contacts */

.contacts {
  min-height: 540px;
  /* background-color: rgb(180, 115, 176); */
}

.warning-descr {
  text-align: center;
  margin-bottom: 80px;
}


.contacts-block {
  flex-direction: column;
  justify-content: space-between;
}


.contacts-wrap:not(:last-child) {
  margin-bottom: 50px;
}

.contacts-down {
  margin-bottom: 10px;
}
